.componants-button--cta {

    border: 2px solid #fff;
    background-color: #ffffff2b;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: bold;
    margin-right: auto;
    z-index: 1;

}

.componants-button--black {

    border: 2px solid #000;
    background-color: #0000002b;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: bold;
    margin-right: auto;
    z-index: 1;
    text-decoration: none;
    // color: #000;
    color: #000;

}