@use "../scss-mixins";
@use "../scss-abstracts";

.t-p-sp-section-hero{

    position: relative;
    
    height: 30dvh;

    @include scss-mixins.for-size(desktop-up) {

        height: 70dvh;
        min-height: 500px;

    }

    &.section-hero > * {

        height: 100%;

    }

    h2 {

        @extend .abstract-typography-large;
        margin-bottom: 1rem;
        @extend .ff-quattrocento__normal--latin-400;

    }

    p {

        font-size: 2rem;
        
    }

}