// :: SCSS : Header
@use "../scss-mixins";
@use "../scss-abstracts";

.t-p-header {

    .scaffolding-row {

        position: unset;

    }


    &__group {

        &.closed {

            .template-partial-header__navigation-primary-group {
         
                display: none;
         
            }
        
        }

        &.open {

            .template-partial-header__navigation-primary-list {

                display: flex;
        
            }       


            &:after {

                content: '';
                background-color: rgba(0, 0, 0, 0.65);
                height: 100dvh;
                width: 100dvw;
                z-index: -99999999999999999;
                position: absolute;
                top: 0;
                left: 0;    
                
                @include scss-mixins.for-size(desktop-up) {

                    display: none;
                    
                }

            }                     

        }

    }

    &__navigation-primary{
        
        &-toggle-control-group {

            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            order: 2;     
            display: flex;
            height: 100%;

            @media (min-width: 1200px) {

                display: none !important;

            }

        }

        &-search-toggle {

            margin-left: auto;
            // background-color: red;
            position: absolute;
            right: 4rem;
            top: 2rem;
            display: flex;
            z-index: 999;

            @media (min-width: 1200px) {

                display: none !important;

            }            

        }

        &-toggle-control {

            margin-left: auto;
            // background-color: red;
            position: absolute;
            right: 1rem;
            top: 1.8rem;   
            z-index: 999;         

        }

        &-group { // Container holding the nav ul list
         
            width: 100dvw;
            margin-left: -1rem;
            //
            position: absolute;
            top: 76px;       
            justify-content: flex-end;     

            @media (min-width: 1200px) {

                display: flex;
                position: relative;
                margin-left: initial;
                top: initial;  
                width: initial;

            }        

        }  

        &-list { // The 'ul' nav list

            flex: 1;
            flex-direction: column;
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            background-color: #000000c7;
            height: 0;
            overflow: hidden;
            padding: 0;

            @include scss-mixins.for-size(desktop-up) { 


                flex: initial;
                background-color: initial;
                align-items: center;
                flex-direction: row;
                gap: 2.8rem;
                padding: initial;

            }

            &.active { // The 'ul' nav list

                // border-color: red;
                height: initial;
                overflow: initial; 
                padding: initial;               

            }            
            // Top level menu item 'li'
            .menu-item{
                
                padding: 1.2rem;

                @include scss-mixins.for-size(desktop-up) { 

                    background-color: transparent;
                    padding: initial;
                    width: initial;
                    gap: 2.8rem;

                }

                &__search-log-group {

                    // border: 1px solid green;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 1.5rem;

                    @include scss-mixins.for-size(desktop-up) { 

                        position: absolute;
                        right: 0;
                    
                    }        

                }      
                
                // search icon desktop only
                &__search-group {

                    display: none;
                    
                    @include scss-mixins.for-size(desktop-up) { 

                        display: flex;
                    
                    }  

                }                              

                // search icon desktop only
                &__log-group {

                    border: 1px solid #fff;
                    border-radius: 1.5rem;
                    padding: .5rem 2rem;

                }                     
                // &.top_lvl_item { // 'li' first child
                
                //     width: 100%;
                //     padding: 1.4rem;
                //     background-color: red;

                //     @include scss-mixins.for-size(desktop-up) { 

                //         background-color: transparent;
                //         padding: initial;
                //         width: initial;
                //         gap: 2.8rem;

                //     }
            
                // }

            }   
            
            a { // Really needs a class!

                color: #fff;
                text-decoration: none;;

            }
                    
        }

    }


}

// Mobile menu toggle 'burger'
.burger {

    height: 25px;
    width: 25px;
    position: relative;
    margin: auto;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-tap-highlight-color: transparent;
    // background-color: red;

    @include scss-mixins.for-size(desktop-up) { 

        display: none;

    }
        
    &:after {

        content: "";
        display: block;
        position: absolute;
        height: 150%;
        width: 150%;
        top: -25%;
        left: -25%;

    }
    
    &-lines,
    &-lines:after,
    &-lines:before {

        pointer-events: none;
        display: block;
        content: "";
        width: 100%;
        border-radius: 0.25em;
        background-color: white;
        height: 0.25em;
        position: absolute;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);

    }

    &-lines {

        top: 50%;
        margin-top: -0.125em;

        &:after,
        &:before {

            left: 0;

        }    

        &:after {

            top: -11px;

        }    
        
        &:before {

            top: 11px;

        }            

    }


    &.burger-squeeze {

        .burger-lines,
        .burger-lines:after,
        .burger-lines:before {

            -webkit-transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
                0.4s background-color 0.2s;
            -o-transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
                0.4s background-color 0.2s;
            transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
                0.4s background-color 0.2s;

        }

        .burger-lines:after,
        .burger-lines:before {

            width: 25px;

        }

        &.open {

            .burger-lines,
            .burger-lines:after,
            .burger-lines:before {

                -webkit-transition: 0.2s background-color, 0.2s top, 0.2s left,
                    0.2s transform 0.15s;
                -o-transition: 0.2s background-color, 0.2s top, 0.2s left,
                    0.2s transform 0.15s;
                transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;

            }

            .burger-lines {

                background-color: transparent;

                &:before,
                &:after {

                    left: -2px;
                    top: 0px;
                    width: 30px;
                }
                   
                &:before {

                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);

                }

                &:after {

                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);

                } 
                                
            }

        }

    }

}